.nadpis {
    display: grid;
    place-items: center;
}
.lekce {
    background: lightseagreen;
    height: 150px;
    width: 500px;
    display: grid;
    place-items: center;
    border-radius: 50px;
    border: 3px solid green;
    margin: 40px;
}