body {
    background: rgb(235, 240, 187);
    display: grid;
    font-family: fantasy;
    margin: 20px;
    padding: 20px;
}
.mnau {
    color: darkgreen;
}
.mnauu {
    color: rgb(0, 100, 0);
    place-items: center;
}
.mnauuu {
    color: rgb(221, 240, 48);
}
.jh {
    font-size: 40px;
    background: rgb(224, 224, 109);
    border-radius: 100%;
    border-color: rgb(115, 141, 0);
    border-width: 5px;
    border-style: solid;
    width: 190px;
    height: 190px;
    display: grid;
    place-items: center;
    margin: 10px;
    padding: 10px;
}
.hlsekce {
    place-items: center;
    background: rgb(228, 154, 85);
    border-radius: 180px;
    height: 100%;
    width: 100%;
    border-color: rgb(115, 141, 0);
    border-width: 5px;
    border-style: solid;
    box-shadow: 10px 8px rgb(138, 177, 30);
}
.bum {
    background: rgb(224, 224, 109);
    place-items: center;
    font-display: center;
    border-radius: 20px;
    height: 100px;
    width: 300px;
    border-color: rgb(115, 141, 0);
    border-width: 4px;
    border-style: solid;
}

.stisk {
    background: rgb(224, 224, 109);
    height: 40px;
    width: 200px;
    display: flex;
    place-items: center;
    border-color: rgb(115, 141, 0);
    border-width: 3px;
    border-style: solid;
}