.femboy {
    background: pink;
    border-radius: 0.67cm;
    width: 400px;
    height: 400px;
    display: grid;
    place-items: center;
}
body {
    margin: 0;
    padding: 0;
    font-family: cursive;
}
section {
    margin: 16px;
    padding: 16px;
}
.parent {
    background: peru;
    width: 200px;
    height: 200px;
    display: grid;
    place-items: center;
}
.child {
    background: green;
    width: 50%;
    height: 50%;
    place-content: center;
}
.panel {
    background: khaki;
    width: 200px;
    height: 200px;
    display: grid;
    place-items: center;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(20, 168, 20);
}
.mix {
    background: khaki;
    width: 250px;
    height: 200px;
    display: grid;
    place-items: center;
    border-width: 4px;
    border-style: solid;
    border-color: rgb(20, 168, 20);
    border-left-style: dashed;
    border-right-style: dotted;
    border-bottom-style: dotted;
    border-top-style: dashed;
    border-top-color: blueviolet;
    border-bottom-color: blueviolet;
}
.card {
    background: khaki;
    width: 250px;
    height: 200px;
    display: grid;
    place-items: center;
    border: 5px solid brown;
}
.nunu {
    background: firebrick;
    width: 50px;
    height: 50px;
    margin: 10px auto;
    padding: 10px;
    display: grid;
    place-items: center;
    border: 2px solid darkgray;
}
.nick {
    display: grid;
    place-items: center;
}
.demo {
    background: maroon;
    width: 160px;
    height: 160px;
    margin: 10px auto;
    padding: 10px;
    padding-top: 100px;
    padding-right: 90px;
    padding-left: 100px;
    padding-bottom: 90px;
    display: grid;
    place-items: center;
    border: 10px solid purple;
    border-radius: 100px;
}